@import "../../../node_modules/bulma/css/bulma.min.css";

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.3s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translate3d(0, 50%, 0);
}

.slideUp-enter-active,
.slideUp-leave-active {
  transition: all 0.3s;
}
.slideUp-enter,
.slideUp-leave-to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.slideDown-enter-active,
.slideDown-leave-active {
  transition: all 0.3s;
}
.slideDown-enter,
.slideDown-leave-to {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.slideLeft-enter-active {
  transition: all 0.3s ease;
}
.slideLeft-leave-active {
  transition: all 0.3s ease;
}
.slideLeft-enter, .slideLeft-leave-to {
  transform: translateX(100%);
}

.page-enter-active,
.page-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.page-enter,
.page-leave-active {
  opacity: 0
}